.category-container {
    display: flex;
    flex-direction: column;
  }
  
  .categoryh3 {
    margin: 10px auto 20px 0px;
    color: #F85555;
}
  
.select {
    min-width: 200px; 
    width: auto; 
    height: 30px;
    border: .1px solid #CCC7C7;
}